body {
  background: #5db125;
  color: #fff
}

a, a:hover, a:focus {
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

.logo {
  background: url('../img/logo.png');
  width: 273px;
  height: 41px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

header {
  height: 145px;

  .container{
    height: 145px;
    position: relative;

  }
}

.logo-small {
  position: absolute;
  right: 0;
  background: url('../img/logo2.png');
  width: 172px;
  height: 187px;
  top: 0;
  margin-top: -110px;
  z-index: 100;
}

nav {
  background: #fff;
  border-bottom: 2px solid #141412;
  height: 35px;
  .container {
    position: relative;
  }

  .navbar {
    height: 33px;
    min-height: 33px;
    margin: 0;
  }


  .navbar-nav>li.active > a {
    background: transparent;
    text-decoration: underline;
  }
  .navbar-nav>li>a {
    padding: 5px 30px 5px 0;
    text-transform: uppercase;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    position: relative;

    &:hover, &:active, &:focus {
      background: transparent;
      text-decoration: underline;
    }

    &:after {
      content: " ";
      position: absolute;
      right: 15px;
      top: 5px;
      bottom: 5px;
      width: 1px;
      background: #000;
    }
  }
}



.gallery-item, .gallery-items {
  display: inline-block;
  vertical-align: top;
  padding: 10px 6px 10px 5px;

  a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.gallery-items {
  width: 210px;
  text-align: center;

  a {
    font-size: 16px;
  }
}

footer {
  margin-top: 50px;
}
footer nav {
  background: transparent;
  border: 0 none;
  text-align: center;

  .navbar-nav {
    float: none;

    li {
      float: none;
      display: inline-block;
    }
  }

  .navbar-nav>li>a {
    font-size: 14px;
    font-weight: normal;
    color: #fff;

    &:after {
      background: #fff;
    }
  }
}



/*PAGINATION*/

.pagination {
  margin: 0 auto;
  ul {
    list-style: none outside none;
    margin: 1em 0 0;
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
      margin: 10px 0;
      a {
        background: #820806;
        border-radius: 3px;
        color: #E2BFA3;
        margin: 0 3px;
        padding: 0 10px;
        text-decoration: none;
        padding-top: 2px;
        padding-bottom: 2px;
        &:hover {
          background: #A84B4B;
        }
      }
    }
    .active,
    .disabled {
      a {
        background: #A84B4B;
        cursor: default;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
}
