body {
  background-color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  min-width: 1100px;
}



@font-face {
  font-family: 'intro_regular';
  src: url('../fonts/intro-webfont.eot');
  src: url('../fonts/intro-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro-webfont.woff2') format('woff2'),
  url('../fonts/intro-webfont.woff') format('woff'),
  url('../fonts/intro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.bg-content {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .tile {
    background-image: url('../img/tile.png');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.line-left {
  background-image: url('../img/line-left.png');
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  width: 64px;
  z-index: 100;
}
.line-right {
  background-image: url('../img/line-right.png');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 60px;
  z-index: 100;
}

.content {
  position: relative;
  margin-bottom: 30px;
}
.top-bg {
  background: rgba(42,34,24,.7);
  border-bottom: 1px solid #604f35;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.top {
  height: 40px;
  line-height: 38px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

header {
  position: relative;
  margin-bottom: 10px;
  height: 103px;
  .logo {
    background-image: url('../img/logo.png');
    display: block;
    width: 243px;
    height: 103px;
    margin: 0 auto;
    text-indent: -100%;
    overflow: hidden;
  }
}

main {
  position: relative;
  background: rgba(255,255,255,.5);
  margin: 0 auto;
  min-height: 100px;
  padding-bottom: 20px;
}


.menu-icons {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -19px;
  ul {
    list-style: none;
    margin: 0;

    li {
      text-indent: -100%;
      overflow: hidden;
      width: 38px;
      height: 38px;
      display: inline-block;
      background-image: url('../img/icons.png');

      &.discounts {
        background-position: -45px 0;
      }
      &.live-music {
        background-position: -91px 0;
      }
      &.wifi {
        width: 56px;
        background-position: -137px 0;
      }
    }
  }
}

h1 {
  margin-top: 10px;
  font-family: 'intro_regular';
  font-style: normal;
  margin-bottom: 20px;
  border-bottom: 1px dotted;
}

main > nav {
  position: relative;
  background-image: url('../img/menu.gif');
  background-position: 0 -66px;
  height: 66px;
  margin: 0 -15px 5px;
  border-radius: 0 !important;
  padding: 10px;

  .navbar.navbar-main {
    margin: 0;
  }
  .nav-tabs.nav-justified>li>a {
    border: 0 none;
    font-family: 'intro_regular', serif;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    color: #5b4427;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      right: 0;
      top: 14px;
      bottom: 14px;
      width: 1px;
      background-color: #5b4427;
    }
  }

  .nav-tabs.nav-justified>li:last-child > a:after {
    display: none;
  }
  .nav-tabs.nav-justified>li.active>a,
  .nav-tabs.nav-justified>li.active>a:hover,
  .nav-tabs.nav-justified>li>a:hover,
  .nav-tabs.nav-justified>li>a:focus,
  .nav-tabs.nav-justified>li>a:active {
    background: transparent;
    border: 0 none;
    color: #fff;
  }

  &:before {
    content: " ";
    background-image: url('../img/menu.gif');
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 66px;
  }
  &:after {
    content: " ";
    background-image: url('../img/menu.gif');
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
    height: 66px;
  }
}

#vk_groups {
  margin-top: 15px;
}

.gallery-item, .gallery-items {
  display: inline-block;
  vertical-align: top;
  padding: 10px 6px 10px 5px;

  a {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}


.bz-form-label {
  display: block;
  margin-top: 7px;
}
.bz-form-input, .bz-form-textarea {
  width: 500px;
  border: 2px solid #22140e;
  padding: 5px 9px;
}
#comfeedback_form_frontend_captcha, #reviews_captcha {
  margin: 10px 0;
}

.reviews_block {
  margin-bottom: 15px;
  border-left: 2px solid #22140e;
  padding: 5px 10px;
}
.comment_name {
  font-weight: bold;
  margin-right: 10px;
}