body {
  background-color: #000;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
  background-image: url('../img/tile.png');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 100;
  padding: 0 64px;
}

.line-left {
  background-image: url('../img/line-left.png');
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  width: 64px;
}
.line-right {
  background-image: url('../img/line-right.png');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 64px;
}